
* {
    margin: 0;
    padding:0;
  
}
html{
  
    height: 100%;
}
body {
    
  display: flex;
  }

.right_container{
    flex:1;
    max-width: 300px;
    color: seashell;
    background-color: blue;
    color: seashell;
    

}
img{
    width: 100%;
    height: 100%;
}

.right_container td{

    color: seashell;

}
.left_container{
    padding: 10px;
      flex:2;
      color: seashell;
      background-color: red ;

  }


 